.technical_specifications p{
    margin-bottom: 0;
    font-weight: 400;
}
.technical_specifications strong{
    font-size: 16px;
    font-weight: 600;
}
.technical_specifications .accordion-button{
    background: #F6F6F7;
    border-radius: 10px;
} 
