@media (min-width: 992px) {
    .bndl_routine img {
        max-width: 100px;
        width: 100%;
        height: auto;
    }        
}

@media (max-width: 991.98px) {
    .bndl_routine button {
        padding-left: 10px !important;
        padding-right: 10px !important;
        font-size: var(--btn-font-mob, 16px);
    }
    .bndl_routine .qure__product-action-inner {
        margin-top: 0 !important;
    }
}