.qure-scroll-tabs {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: auto hidden;
    gap: 0px 16px;
    max-width: 100%;
    margin: 0 auto;
}
.qure-scroll-tabs li.qure-scroll-item {
    color: #000 !important;
    width: 100%;
}
.qure-scroll-tabs .qure-scroll-link {
    background: transparent;
    border-radius: 100px;
    border: 1px solid var(--qure-charcoal);
    padding: 5px;
    transition: 0.3s;
    width: 100%;
}
.qure-scroll-tabs .qure-scroll-link.active, .qure-scroll-tabs .qure-scroll-link:hover {
    background: var(--qure-charcoal);
    color: var(--white-color);
}
.s_num{
    position: absolute;
    left: -12px;
    top: -12px;
    background: var(--Teal, #C7E5DB);
    border-radius: 25px;
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 33.333px;
    font-weight: 400;
}
.added{
    background: #008763;
    color: #fff;
}
.product_wrapper:hover .tab-pane .first-img {
    display: none;
}
.product_wrapper:hover .tab-pane .second-img {
    display: block !important;
}
  .star_text p {
       font-size: 14px;
    }
    .tab-pane iframe {
    border-radius: 10px;
}


@media(min-width:992px){
    .g-6{
        --bs-gutter-x: 6rem;
        --bs-gutter-y: 6rem;
    }
    .prod_tit_wrap h3{
        font-size: 26px;
    }
}

@media(max-width:991px){
    .star_text p {
       font-size: 14px;
    }
    .s_num {
        width: 40px;
        height: 40px;
        font-size: 26px;
    }
    .skincare_plan_tabs .product_wrapper .tab-pane.active{
        display: flex;   
        gap: 20px;
        margin-bottom: 15px;
    }
    .show_more p {
    font-size: 16px;
}
.qure-scroll-link{
    font-size: 14px;
}
.qure__accordion-item ul > li{
    font-size: 16px;
}
}
