.banner-media video,.video-banner video{
  display:block;
  width:100%;
}

.banner-with-text{
  padding-bottom:0;
  padding-top:0;
  position:relative;
}
.banner-with-text.color-background{
  background:#212428;
  color:#fff;
}
.banner-with-text .custom__grid{
  --column-gap:100px;
  --column-gap-mobile:100px;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  margin-bottom:0;
  margin-top:0;
}
.banner-with-text .custom__block:last-child{
  padding-bottom:0;
  padding-top:0;
}
.banner-with-text-content img:first-child{
  margin-bottom:16px;
  max-width:214px;
}
.banner-with-text-content h2{
  color:inherit;
  font-size:46px;
  line-height:1.15;
  margin-bottom:10px;
}
.banner-with-text-content p{
  font-size:22px;
}
.banner-with-text-content .btn{
  margin-top:60px;
}
.banner-with-text-content.text-center .btn{
  width:100%;
}
.banner-with-text-link{
  inset:0;
  position:absolute;
  z-index:1;
}
.banner-with-text .banner-text--media{
  margin-top:0;
  position:relative;
}
.banner-with-text .banner-text--media img{
  width:100%;
}
.banner-with-text .banner-text--media .bf-discont-badge{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  position:absolute;
  right:30px;
  top:40px;
  z-index:1;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  gap:2px;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
  background:#ff5429;
  border-radius:100px;
  font-size:58px;
  font-weight:600;
  height:140px;
          justify-content:center;
  line-height:1;
  width:140px;
}
.banner-with-text .banner-text--media .bf-discont-badge:after,.banner-with-text .banner-text--media .bf-discont-badge:before{
  font-size:20px;
  text-transform:uppercase;
}
.banner-with-text .banner-text--media .bf-discont-badge:before{
  content:attr(data-text-top);
}
.banner-with-text .banner-text--media .bf-discont-badge:after{
  content:attr(data-text-bottom);
}
.collection .banner-with-text .banner-text--media .bf-discont-badge{
  display:none;
  right:30px;
}
.banner-with-text .banner-text--media .swiper-thumbnail-press-slider{
  bottom:35px;
  color:#dfe0e0;
  position:absolute;
  right:20px;
  z-index:1;
}
.banner-with-text .banner-text--media .swiper-thumbnail-press-slider .swiper-slide{
  cursor:pointer;
  font-size:20px;
  font-weight:600;
  opacity:1;
  width:auto !important;
}
.banner-with-text .banner-text--media .swiper-thumbnail-press-slider .swiper-slide:hover{
  color:#888;
}
.banner-with-text .banner-text--media .swiper-thumbnail-press-slider .swiper-slide-thumb-active{
  color:#91baec;
  pointer-events:none;
}
.banner-with-text.two-images .custom__block:first-child{
  padding-bottom:0;
  padding-top:0;
}
.banner-with-text.two-images .custom__block .banner-text--media img{
  min-height:210px;
  -o-object-fit:cover;
     object-fit:cover;
}

.banner-text--des{
  margin-bottom:var(--text-mb);
  margin-top:var(--text-mt);
}

.banner-text--des span{
  background-color:var(--base-color);
}

.banner-text--des strong{
  background:var(--base-color);
  font-weight:400;
}

.banner-text--des li{
  padding-left:28px;
  position:relative;
}

.banner-text--des li+li{
  margin-top:10px;
}

.banner-text--des li:before{
  color:var(--color-ice);
  content:"\f058";
  font-family:Font Awesome\ 6 Pro;
  font-weight:400;
  left:0;
  position:absolute;
}

.banner-text--media img{
  display:block;
  height:auto;
  max-width:100%;
}

.it_img{
  border-radius:8px !important;
  overflow:hidden;
}

.no_hype_evidence .modal .tab-pane p{
  color:var(--Charcoal, #212428);
  font-size:16px;
  font-weight:400;
  line-height:20px;
}

.no_hype_evidence a.filter-card-item{
  background:var(--Mist, #f6f6f7);
  border-radius:10px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  gap:10px;
  height:-webkit-max-content !important;
  height:-moz-max-content !important;
  height:max-content !important;
  padding:16px;
}

.ingredient_modal .nav-tabs{
  border:0;
}

.ingredient_modal .nav-link{
  border-color:#b5b6b7;
  border-width:0 0 1px;
  color:#212428;
  padding:5px 20px;
}

.ingredient_modal .nav-link.active{
  border-color:#212428;
  border-width:0 0 2px;
  color:#212428;
  font-weight:600;
}

.banner-text-quotes{
  background:#f6f6f7;
  border-radius:5px;
  display:inline-block;
  font-size:16px;
  margin-bottom:var(--text-quote-mb, 32px);
  margin-top:var(--text-quote-mt, 32px);
  padding:16px;
}
.banner-text--steps{
  counter-reset:step-counter;
}

.banner-step-box{
  counter-increment:step-counter;
  padding-left:50px;
  padding-top:5px;
  position:relative;
}

.banner-step-box+.banner-step-box{
  margin-top:30px;
}

.banner-step-box:after{
  background:#8b8c8e;
  content:"";
  display:block;
  height:calc(100% + 30px);
  left:18px;
  position:absolute;
  top:0;
  width:1px;
  z-index:-1;
}

.banner-step-box:last-child:after{
  display:none;
}

.banner-step-box:before{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  left:0;
  position:absolute;
  top:0;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
  background:#fff;
  border:1px solid #8b8c8e;
  border-radius:40px;
  color:#212428;
  content:counter(step-counter) "";
  height:36px;
          justify-content:center;
  width:36px;
}

.prod_img_with_title img{
  max-width:80px;
}

.prod_img_with_title p{
  color:#212428;
}

.prod_wrapper{
  background:var(--Mist, #f6f6f7);
  border-radius:10px;
  padding:12px 16px;
}

@media screen and (max-width:991px){
  .banner-with-text .custom__block{
    padding-right:0;
  }
  .banner-with-text-content h2{
    font-size:32px;
  }
  .banner-with-text .banner-text--media{
    margin-top:10px;
  }
  .banner-with-text .banner-text--media .bf-discont-badge{
    font-size:36px;
    height:90px;
    right:20px;
    top:25px;
    width:90px;
  }
  .banner-with-text .banner-text--media .bf-discont-badge:after,.banner-with-text .banner-text--media .bf-discont-badge:before{
    font-size:14px;
  }
  .banner-with-text .banner-text--media .swiper-thumbnail-press-slider{
    bottom:10px;
    right:10px;
  }
}

@media (max-width:767px){
  .banner-text--heading{
    font-size:var(--text-heading-font-size-mob, 28px);
    font-weight:var(--text-heading-font-weight-mob, 300);
  }
  .banner-text--media.banner-text-mob-full{
    margin:0 -15px;
  }
  .banner-with-text-content .banner-text--button{
    font-size:18px;
  }
  .ingredient_modal .nav-link{
    font-size:16px;
  }
}

@media screen and (max-width:767px){
  .banner-with-text .custom__block{
    padding-bottom:24px;
    padding-top:24px;
  }
  .banner-with-text-content img:first-child{
    max-width:185px;
  }
  .collection .banner-with-text-content img:first-child{
    display:none;
  }
  .banner-with-text-content p{
    font-size:18px;
  }
  .banner-with-text-content .btn{
    margin-top:15px;
    max-width:280px;
  }
  .collection .banner-with-text .banner-text--media .bf-discont-badge{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
  }
  .banner-with-text .banner-text--media .swiper-thumbnail-press-slider .swiper-slide{
    font-size:16px;
  }
  .banner-with-text.two-images .custom__grid{
    margin-right:0;
    padding-left:0;
  }
  .banner-with-text.two-images .custom__block:last-child{
    display:none;
  }
  .banner-with-text.two-images .custom__block .banner-text--media{
    margin:0;
  }
  .banner-with-text.two-images .custom__block .banner-text--media img{
    min-height:0;
  }
}
