@use "../../../../../mixins/index" as *;

.banner-media video, 
.video-banner video {
    display: block;
    width: 100%;
}

.banner-with-text {
    position: relative;
    padding-top: 0;
    padding-bottom: 0;

    &.color-background {
        color: #fff;
        background: #212428;
        
        .banner-text--button {
            color: #212428;
            background: #fff;
            border-color: #fff;
        }
    }

    .custom__grid {
        --column-gap: 100px; 
        --column-gap-mobile: 100px;

        align-items: center;
        margin-top: 0;
        margin-bottom: 0;
    }

    .custom__block {
        @include md {
            padding-right: 0;
        }

        @include sm {
            padding-top: 24px;
            padding-bottom: 24px;
        }

        &:last-child {
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    // .banner-with-text-content
    &-content {
        img {
            &:first-child {
                max-width: 214px;
                margin-bottom: 16px;
                
                @include sm {
                    max-width: 185px;
                }

                // Changes on collections page
                .collection & {
                    @include sm {
                        display: none;
                    }
                }
            }
        }

        h2 {
            margin-bottom: 10px;
            color: inherit;
            font-size: 46px;
            line-height: 1.15;

            @include md {
                font-size: 32px;
            }
        }

        p {
            font-size: 22px;

            @include sm {
                font-size: 18px;
            }
        }

        .btn {
            margin-top: 34px;

            @include sm {
                max-width: 280px;
                margin-top: 15px;
            }

            & + span {
                display: block;
                margin-top: 8px;
                color: #707172;
                font-size: 14px;
                text-align: center;
            }
        }

        &.text-center {
            .btn {
                width: 100%;
            }
        }
    }

    // .banner-with-text-link
    &-link {
        position: absolute;
        inset: 0;
        z-index: 1;
    }

    .banner-text--media {
        position: relative;
        margin-top: 0;

        @include md {
            margin-top: 10px;
        }

        img {
            width: 100%;
            height: auto;
            border-radius: 0;
            
            &[src$=".gif"] {
                aspect-ratio: 6.2 / 5;
                object-fit: cover;

                @include md {
                    aspect-ratio: unset;
                }
            }
        }

        .bf-discont-badge {
            position: absolute;
            top: 40px;
            right: 30px;
            z-index: 1;
            display: flex;
            flex-direction: column;
            gap: 2px;
            align-items: center;
            justify-content: center;
            width: 140px;
            height: 140px;
            color: #fff;
            font-weight: 600;
            font-size: 58px;
            line-height: 1;
            background: #ff5429;
            border-radius: 100px;

            @include md {
                top: 25px;
                right: 20px;
                width: 90px;
                height: 90px;
                font-size: 36px;
            }

            &::before,
            &::after {
                font-size: 20px;
                text-transform: uppercase;

                @include md {
                 font-size: 14px;
                }
            }

            &::before {
                content: attr(data-text-top);
            }
            
            &::after {
                content: attr(data-text-bottom);
            }

            // Changes on collections page
            .collection & {
                right: 30px;
                display: none;

                @include sm {
                    display: flex;
                }
            }
        }

        .swiper-thumbnail-press-slider {
            position: absolute;
            right: 20px;
            bottom: 35px;
            z-index: 1;
            color: #dfe0e0;

            @include md {
                right: 10px;
                bottom: 10px;
            }

            .swiper-slide {
                width: auto !important;
                font-weight: 600;
                font-size: 20px;
                cursor: pointer;    
                opacity: 1;

                @include sm {
                    font-size: 16px;
                }

                &:hover {
                    color: #888;
                }
            }

            .swiper-slide-thumb-active {
                color: #91baec;
                pointer-events: none;
            }
        }
    }

    &.two-images {
        .custom__grid {
            @include sm {
                margin-right: 0;
                padding-left: 0;
            }
        }

        .custom__block {
            &:first-child {
                padding-top: 0;
                padding-bottom: 0;
            }

            &:last-child {
                @include sm {
                    display: none;
                }
            }

            .banner-text--media {
                @include sm {
                    margin: 0;
                }

                img {
                    min-height: 210px;
                    object-fit: cover;

                    @include sm {
                        min-height: 0;
                    }
                }
            }
        }
    }
}

.banner-text--des {
    margin-top: var(--text-mt);
    margin-bottom: var(--text-mb);
}

.banner-text--des span{
    background-color: var(--base-color);
}

.banner-text--des strong {
    font-weight: normal;
    background:var(--base-color);
}

.banner-text--des li {
    position: relative;
    padding-left: 28px;
}

.banner-text--des li+li {
    margin-top:10px
}

.banner-text--des li::before {
    position: absolute;
    left: 0;
    color: var(--color-ice);
    font-weight: 400;
    font-family: Font Awesome\ 6 Pro;
    content: "\f058";
}

.banner-text--media img {
    display: block;
    max-width: 100%;
    height: auto;
}

.it_img {
    overflow: hidden;
    border-radius: 8px !important;
}

.no_hype_evidence .modal .tab-pane p{
    color: var(--Charcoal, #212428);
    font-weight: 400;
    font-size: 16px;
    line-height: 20px; 
}

.no_hype_evidence a.filter-card-item {
    display: flex;
    gap: 10px;
    height: max-content !important;
    padding: 16px;
    background: var(--Mist, #F6F6F7);
    border-radius: 10px;
}

.ingredient_modal .nav-tabs {
    border: 0;
}

.ingredient_modal .nav-link {
    padding: 5px 20px;
    color: #212428;
    border-color: #B5B6B7;
    border-width: 0 0 1px;
}

.ingredient_modal .nav-link.active {
    color: #212428;
    font-weight: 600;
    border-color: #212428;
    border-width: 0 0 2px;
}

.banner-text-quotes {
    display: inline-block;
    margin-top: var(--text-quote-mt, 32px);
    margin-bottom: var(--text-quote-mb, 32px);
    padding: 16px;
    font-size: 16px;
    background: #F6F6F7;
    border-radius: 5px;
}

/* Banner steps */
.banner-text--steps {
    counter-reset: step-counter;
}

.banner-step-box {
    position: relative;
    padding-top: 5px;
    padding-left: 50px;
    counter-increment: step-counter;
}

.banner-step-box + .banner-step-box{
    margin-top:30px
}

.banner-step-box::after {
    position: absolute;
    top: 0%;
    left: calc(36px / 2);
    z-index: -1;
    display: block;
    width: 1px;
    height: calc(100% + 30px);
    background: #8B8C8E;
    content: '';
}

.banner-step-box:last-child::after {
    display: none;
}

.banner-step-box::before {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    color: #212428;
    background: #fff;
    border: 1px solid #8B8C8E;
    border-radius: 40px;
    content: counter(step-counter)"";
}

.prod_img_with_title img {
    max-width: 80px;
}

.prod_img_with_title p{
    color: #212428; 
}

.prod_wrapper {
    padding: 12px 16px;
    background: var(--Mist, #F6F6F7);
    border-radius: 10px;
}

@media(max-width:767px){
    .banner-text--heading {
        font-weight: var(--text-heading-font-weight-mob, 300);
        font-size: var(--text-heading-font-size-mob, 28px);
    }

    .banner-text--media.banner-text-mob-full {
        margin: 0  -15px;
    }

    .banner-with-text-content .banner-text--button {
        font-size: 18px;
    }

    .ingredient_modal .nav-link{
        font-size: 16px;
    }
}

