.qure__categories-list {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 12px;
    line-height: 16px;
    color: var(--qure-charcoal);
}
.qure__cat-img img {
    max-width: 80px;
    margin: 0 auto;
    border-radius: 50%;
    width:100%;
}