.main_b_wrapper {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
.loyalty_banner_sign{
    background: #fff;
}

@media(max-width:767px){
    .main_b_wrapper {
        top: 20%;
        text-align: center;
    }    
    .qure_loyalty_logo{
        max-width: 99px;
    }
}
