.qure__product-img img{
            width:100%;
        }
.qure__product-img .qure__product-hover-img {
    opacity: 0;
    transition: .5s;
}
.qure__product-item:hover .qure__product-hover-img {
    opacity: 1;
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
}
.qure__product-name,.qure__product-name a {
    color: var(--qure__product-name-color, #212428);
    font-size: var(--qure__product-name-size, 18px);
    font-weight: var(--qure__product-name-weight, 600);
}
.qure__product-item:hover .qure__product-name a {
    color: var(--color-ice);
    text-decoration: underline;
}
@media (min-width: 768px) {
    .qure__product-main-img img {
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-radius: 10px;
    }
}