.qure__product-img img{
    width:100%;
}
.qure__product-img .qure__product-hover-img {
    opacity: 0;
    transition: .5s;
}
.qure__product-item:hover .qure__product-hover-img {
    opacity: 1;
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
}
.qure__product-name,.qure__product-name a {
    color: var(--qure__product-name-color, #212428);
    font-size: var(--qure__product-name-size, 18px);
    font-weight: var(--qure__product-name-weight, 600);
}
.qure__product-item:hover .qure__product-name a {
    color: var(--color-ice);
    text-decoration: underline;
}
.qure__product-img {
    max-height: 300px;
} 
body.page\.car-giveaway .qure__product-details{
    text-align: center;
}
body.page\.car-giveaway .badge{
    background: #DB0004;
}
.recieve_entries {
    color: #000;
    font-size: 14px;
    gap: 5px;
    background: #C7E5DB;
    padding: 6px 0;
}
.recieve_entries img{
    max-width: 16px;
}
body.page\.car-giveaway .qure__product-img{
    border: 1px solid #ccc;
}
body.page\.car-giveaway .qure__product-img img {
    max-height: 264px;
    object-fit: contain;
}
.recieve_entries_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
}

@media (min-width: 768px) {
    .qure__product-main-img img {
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-radius: 10px;
    }
}
@media(max-width:767px){
    .recieve_entries_grid{
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
    .recieve_entries_grid .qure__product-main-img {
        height: 163px;
    }
    .recieve_entries_grid .limited-line {
        height: 43px;
    }
}
