.compare_listRow {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
}
.compare_listRow .compare_listHeadings {
    flex: 0 0 220px;
    max-width: 220px;
}
.compare_listRow .compare_list_column{
        flex: 0 0 calc(100% - 220px);
    max-width: calc(100% - 220px);
}
.cp__heading-box {
    padding: 8px 32px;
    background: #fff;
    border-radius: 10px 0px 0px 10px;
}
.cp__heading-box .cp__heading-item {
    font-weight: 600;
    font-size: 16px;
    height: calc(var(--cp__height) / var(--item-count));
    display: flex;
    align-items: center;
}
.cp__heading-box .cp__heading-item + .cp__heading-item {
    
    border-top: 1px solid #DFE0E0;
}
.cp__compare-box {
    padding-top: calc(var(--eq__height) / 2);
}
.cp__compare-header {
    height: var(--eq__height) !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: calc(-1 * (var(--eq__height) / 2));
    /* margin-bottom:15px; */
}
.cp__compare-inner {
    padding: 24px 24px 24px 24px;
    background: #fff;
    position: relative;
    height: 100%;
}
.cp__compare-box-last .cp__compare-inner {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.cp__compare-box.cp__compare-box-last {
    border-radius: 0px 10px 10px 0px;
}
.cp__compare-box .cp__compare-img {
    position: relative;
    left: 0;
    /* top: -110px;
    height: 180px; */
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    padding-bottom: 10px;
}
.cp__compare-box.compare-box-active .cp__compare-inner:before {
    content: '';
    height: calc(100% + 25px);
    width: 100%;
    display: block;
    background: var(--base-color);
    position: absolute;
    left: 0;
    right: 0;
    top: -25px;
    bottom: 0;
    border-radius: 10px 10px 0 0;
    z-index: 0;
}
.cp__compare-title {
    text-align: center;
    margin-bottom: 15px;
}
.cp__compare-item {
    padding: 10px 12px 10px 40px;
    border-radius: 5px;
    background: var(--bg-white, #FFF);
    border: 1px solid var(--Charcoal-10, #DFE0E0);
    position: relative;
    min-height: 66px;
}
.cp__compare-item + .cp__compare-item {
    margin-top: 10px;
}
.cp__compare-item::before {
    position: absolute;
    left: 12px;
    top: 12px;
}
.compare-check:before {
    content: "\f058";
    font-family: Font Awesome\ 6 Pro;
    font-weight: 600;
}
.compare-close:before {
    content: "\f057";
    font-family: Font Awesome\ 6 Pro;
    font-weight: 600;
}
.cp__compare-box .cp__compare-item:before {
    color: #8b8c8e;
}
.cp__compare-box.compare-box-active .cp__compare-item:before {
    color: #008763;
}
.brand_image {
    z-index: 99999;
    position: relative;
    margin: 0 auto;
    width: max-content;
}


@media(max-width:767px){
    .cp__compare-img img {
        max-height: 120px;
    }
    .cp__heading-box {
        padding: 0px 16px;
    }
    .compare_listRow .compare_listHeadings {
        flex: 0 0 120px;
        max-width: 120px;
    }
    .compare_listRow .compare_list_column {
        flex: 0 0 calc(100% - 120px);
        max-width: calc(100% - 120px);
    }
    .cp__compare-inner {
        padding:12px;
    }
    .cp__heading-box .cp__heading-item {
        font-size: 14px;
        line-height: 18px; 
        /* padding: var(--cp-padding-mob, 24px) 0; */
    }
    .cp__compare-item{
        font-size: 14px;
        line-height: 18px;
        padding: 8px 12px 10px 40px;
    }
}
