@use "../../../../../mixins/index" as *;

/* stylelint-disable-next-line selector-class-pattern */
.page\.black-friday-early-access {
    padding-top: 0;
    color: #fff;
    background: #212428;
}

.black-friday-early-access {
    padding-top: 0;
    padding-bottom: 0;

    img {
        display: block;
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .custom__grid {
        --column-gap: 100px;
        align-items: center;
        margin-top: 0;
        margin-bottom: 0;
    }

    .custom__block {
        @include md {
            padding-right: 0;
        }

        @include sm {
            padding-bottom: 24px;
        }
    }

    .banner-text--media {
        img {
            height: calc(100vh - 76px);
            object-fit: cover;
        }
    }
    
    // .black-friday-early-access__content
    &__content {
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
        margin-right: -15px;
        margin-left: -15px;
        text-align: center;

        @include md {
            gap: 16px;
        }

        h2 {
            color: inherit;
            font-size: 46px;
            line-height: 1.15;

            @include md {
                padding-right: 15px;
                padding-left: 15px;
                font-size: 32px;
            }
        }

        img:first-child {
            max-width: 127px;
            height: auto;

            @include md {
                max-width: 84px;
            }
        }

        img:not(:first-child) {
            display: none;
            
            @include sm {
                display: block;
            }
        }
    }

    .early-access-form {
        width: 100%;
        margin-bottom: 16px;
        padding-right: 15px;
        padding-left: 15px;

        &__label {
            margin-bottom: 10px;
            text-align: center;
        }

        &__content {
            position: relative;
            display: flex;
            
            .form-control {
                padding-left: 30px;
                border: none;
                border-radius: 50px 0 0 50px;
            }
    
            .btn {
                padding-right: 30px;
                color: #212428;
                font-size: 20px;
                background: #fff;
                border: none;
                border-radius: 0 50px 50px 0;
            }
        }
    }

    .early-access-countdown {
        &__title {
            display: flex;
            gap: 8px;
            margin-bottom: 24px;
            font-weight: 600;
            font-size: 20px;

            @include md {
                margin-bottom: 10px;
            }

            svg {
                width: 20px;
                height: auto;
                stroke: #fff;
            }
        }

        &__timer {
            display: flex;
            gap: 20px;
            justify-content: center;

            .countdown-segment {
                display: flex;
                flex-direction: column;
                line-height: 1;

                &:not(:first-child) {
                    padding-left: 16px;
                    border-left: 1px solid #fff;
                }

                span {
                    color: #FF5429;
                    font-weight: 600;
                    font-size: 30px;
                }

                small {
                    font-size: 14px;
                    text-transform: uppercase;
                }
            }
        }
    }

    // .black-friday-early-access-footer
    &-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 76px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 16px;

        p {
            margin: 0;
        }

        ul {
            display: flex;
            gap: 16px;
        }

        a {
            color: inherit;
            text-decoration: underline 1px;

            &:hover {
                text-decoration: none;
            }
        }
    }
}