@use "../../../../../mixins/index" as *;

.bundle-banner {
    position: relative;

    &__image {
        position: absolute;
        inset: 0;
        z-index: -1;

        @include sm {
            // position: static;
        }
        
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 30% 100%;

            @include sm {
                object-position: 50% 0%;
                // position: static;
            }
        }
    }

    &__content {
        position: relative;
        padding-right: 15px;
        padding-left: 15px;

        @include sm {
            padding: 43% 15px 15px;
        }

        .bf-discont-badge {
            position: absolute;
            top: 20px;
            left: 50%;
            z-index: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 80px;
            height: 80px;
            margin-left: -42vw;
            color: #fff;
            font-weight: 600;
            font-size: 26px;
            line-height: 1;
            background: #ff5429;
            border-radius: 100px;

            @include md {
                left: 30px;
                margin-left: 0;
            }

            &::after {
                font-weight: normal;
                font-size: 20px;
                text-transform: uppercase;
                content: attr(data-text-bottom);
            }
        }

        .row {
            align-items: center;
            justify-content: flex-end;
            padding-top: 40px;
            padding-bottom: 34px;

            @include sm {
                gap: 10px;
                padding-top: 34px;
                padding-bottom: 24px;
                text-align: center;
            }
        }

        h3 {
            margin-bottom: 5px;

            img {
                vertical-align: middle;
                filter: brightness(0) saturate(100%) invert(7%) sepia(5%) saturate(2568%) hue-rotate(175deg) brightness(92%) contrast(83%);
            }
        }

        @keyframes pulse {
            0% {
                box-shadow: 0 0 0 0 rgb(255 84 41 / 70%);
                transform: scale(1);
            }

            100% {
                box-shadow: 0 0 0 8px rgb(255 84 41 / 0%);
                transform: scale(1.1);
            }
        }

        .btn {
            width: 100%;
            max-width: 350px;
            padding-top: 12px;
            padding-bottom: 12px;

            @include md {
                max-width: none;
            }
        }

        .under-button-text {
            margin-top: 12px;
            margin-left: 15px;
            font-size: 16px;

            &::before {
                display: inline-block;
                width: 8px;
                height: 8px;
                margin-right: 12px;
                background: #ff5429;
                border-radius: 50%;
                animation: pulse 2s infinite; 
                content: ' ';
            }
        }
    }

    &.bundle-banner-mini {
        background: #212428;
        
        .bundle-banner__content {
            max-width: 1330px;
            margin-right: auto;
            margin-left: auto;
            color: #fff;  

            @include sm {
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }

        .mini-bundles {
            display: grid;
            grid-template: auto / calc(53.6% - 10px) repeat(2, calc(23.2% - 5px));
            gap: 10px;
            width: 100%;
            max-width: 500px;
            margin-right: 10%;
            margin-left: auto;

            @include sm {
                gap: 6px;
                max-width: calc(100% - 30px);
                margin-right: 0;
            }

            // mini-bundles__item
            &__item {
                position: relative;

                &:first-child {
                    &::before {
                        position: absolute;
                        top: 6px;
                        left: 70px;
                        width: 70px;
                        color: #212428;
                        line-height: 1.1;
                        content: attr(data-desc);

                        @media screen and (max-width: 1230px) {
                            left: 90px;
                        }

                        @include md {
                            left: 50px;
                            font-size: 12px;
                        }

                        @include sm {
                            left: 35px;
                        }
                    }
                }

                &:not(:first-child) {
                    &::before {
                        position: absolute;
                        top: 6px;
                        left: 8px;
                        width: 25px;
                        height: 25px;
                        font-size: 20px;
                        line-height: 25px;
                        text-align: center;
                        background: #ff5429;
                        border-radius: 25px;
                        content: '%';

                        @include sm {
                            top: 4px;
                            left: 4px;
                        }
                    }
                }

                img {
                    display: block;
                    width: 100%;
                    height: auto;
                    border-radius: 10px;
                }

                .bf-discont-badge {
                    top: 50%;
                    left: 0;
                    width: 120px;
                    height: 120px;
                    margin-top: -60px;
                    margin-left: -60px;
                    font-size: 50px;

                    @media screen and (max-width: 1230px) {
                        margin-left: -30px;
                    }

                    @include md {
                        width: 80px;
                        height: 80px;
                        margin-top: -40px;
                        font-size: 32px;

                    }

                    &::before,
                    &::after {
                        font-size: 18px;
                        text-transform: uppercase;

                        @include md {
                            font-size: 12px;
                        }
                    }

                    &::before {
                        content: attr(data-text-top);
                    }
                    
                    &::after {
                        content: attr(data-text-bottom);
                    }
                }
            }
        }

        .row {
            padding-top: 20px;
            padding-bottom: 20px;

            @include sm {
                gap: 20px;
                padding-top: 20px;
            }
        }

        h3 {
            color: inherit;
            font-size: 38px;

            @include md {
                font-size: 28px;
            }
        }

        .btn {
            padding-right: 20px;
            padding-left: 20px;
            color: #212428;
            background: #fff;
            border-color: #fff;
            
            @media screen and (min-width: 991px) {
                display: block;
                max-width: 300px;
                margin-left: auto;
                padding-top: 17px;
                padding-bottom: 17px;
            }
        }
    }
}

.bundle-banners-slider {
    .swiper-pagination {
        padding-right: 20px;
        padding-left: 20px;
        text-align: right;
    
        @include md {
            text-align: center;
        }
    }
    
    .swiper-pagination-bullet-active {
        background: #000;
    }
}