.bundle-banner{
  position:relative;
}
.bundle-banner__image{
  inset:0;
  position:absolute;
  z-index:-1;
}
.bundle-banner__image img{
  height:100%;
  left:0;
  -o-object-fit:cover;
     object-fit:cover;
  -o-object-position:30% 100%;
     object-position:30% 100%;
  position:absolute;
  top:0;
  width:100%;
}
.bundle-banner__content{
  padding-left:15px;
  padding-right:15px;
  position:relative;
}
.bundle-banner__content .bf-discont-badge{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  left:50%;
  position:absolute;
  top:20px;
  z-index:1;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
  background:#ff5429;
  border-radius:100px;
  color:#fff;
  font-size:26px;
  font-weight:600;
  height:80px;
          justify-content:center;
  line-height:1;
  margin-left:-42vw;
  width:80px;
}
.bundle-banner__content .bf-discont-badge:after{
  content:attr(data-text-bottom);
  font-size:20px;
  font-weight:400;
  text-transform:uppercase;
}
.bundle-banner__content .row{
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  -webkit-box-pack:end;
      -ms-flex-pack:end;
          justify-content:flex-end;
  padding-bottom:34px;
  padding-top:40px;
}
.bundle-banner__content h3{
  margin-bottom:5px;
}
.bundle-banner__content h3 img{
  -webkit-filter:brightness(0) saturate(100%) invert(7%) sepia(5%) saturate(2568%) hue-rotate(175deg) brightness(92%) contrast(83%);
          filter:brightness(0) saturate(100%) invert(7%) sepia(5%) saturate(2568%) hue-rotate(175deg) brightness(92%) contrast(83%);
  vertical-align:middle;
}
@-webkit-keyframes pulse{
  0%{
    -webkit-box-shadow:0 0 0 0 rgba(255,84,41,.7);
            box-shadow:0 0 0 0 rgba(255,84,41,.7);
    -webkit-transform:scale(1);
            transform:scale(1);
  }
  to{
    -webkit-box-shadow:0 0 0 8px rgba(255,84,41,0);
            box-shadow:0 0 0 8px rgba(255,84,41,0);
    -webkit-transform:scale(1.1);
            transform:scale(1.1);
  }
}
@keyframes pulse{
  0%{
    -webkit-box-shadow:0 0 0 0 rgba(255,84,41,.7);
            box-shadow:0 0 0 0 rgba(255,84,41,.7);
    -webkit-transform:scale(1);
            transform:scale(1);
  }
  to{
    -webkit-box-shadow:0 0 0 8px rgba(255,84,41,0);
            box-shadow:0 0 0 8px rgba(255,84,41,0);
    -webkit-transform:scale(1.1);
            transform:scale(1.1);
  }
}
.bundle-banner__content .btn{
  max-width:350px;
  padding-bottom:12px;
  padding-top:12px;
  width:100%;
}
.bundle-banner__content .under-button-text{
  font-size:16px;
  margin-left:15px;
  margin-top:12px;
}
.bundle-banner__content .under-button-text:before{
  -webkit-animation:pulse 2s infinite;
          animation:pulse 2s infinite;
  background:#ff5429;
  border-radius:50%;
  content:" ";
  display:inline-block;
  height:8px;
  margin-right:12px;
  width:8px;
}
.bundle-banner.bundle-banner-mini{
  background:#212428;
}
.bundle-banner.bundle-banner-mini .bundle-banner__content{
  color:#fff;
  margin-left:auto;
  margin-right:auto;
  max-width:1330px;
}
.bundle-banner.bundle-banner-mini .mini-bundles{
  display:-ms-grid;
  display:grid;
  -ms-grid-rows:auto;
  -ms-grid-columns:calc(53.6% - 10px) 10px calc(23.2% - 5px) 10px calc(23.2% - 5px);
  gap:10px;
      grid-template:auto/calc(53.6% - 10px) repeat(2, calc(23.2% - 5px));
  margin-left:auto;
  margin-right:10%;
  max-width:500px;
  width:100%;
}
.bundle-banner.bundle-banner-mini .mini-bundles__item{
  position:relative;
}
.bundle-banner.bundle-banner-mini .mini-bundles__item:first-child:before{
  color:#212428;
  content:attr(data-desc);
  left:70px;
  line-height:1.1;
  position:absolute;
  top:6px;
  width:70px;
}
.bundle-banner.bundle-banner-mini .mini-bundles__item:not(:first-child):before{
  background:#ff5429;
  border-radius:25px;
  content:"%";
  font-size:20px;
  height:25px;
  left:8px;
  line-height:25px;
  position:absolute;
  text-align:center;
  top:6px;
  width:25px;
}
.bundle-banner.bundle-banner-mini .mini-bundles__item img{
  border-radius:10px;
  display:block;
  height:auto;
  width:100%;
}
.bundle-banner.bundle-banner-mini .mini-bundles__item .bf-discont-badge{
  font-size:50px;
  height:120px;
  left:0;
  margin-left:-60px;
  margin-top:-60px;
  top:50%;
  width:120px;
}
.bundle-banner.bundle-banner-mini .mini-bundles__item .bf-discont-badge:after,.bundle-banner.bundle-banner-mini .mini-bundles__item .bf-discont-badge:before{
  font-size:18px;
  text-transform:uppercase;
}
.bundle-banner.bundle-banner-mini .mini-bundles__item .bf-discont-badge:before{
  content:attr(data-text-top);
}
.bundle-banner.bundle-banner-mini .mini-bundles__item .bf-discont-badge:after{
  content:attr(data-text-bottom);
}
.bundle-banner.bundle-banner-mini .row{
  padding-bottom:20px;
  padding-top:20px;
}
.bundle-banner.bundle-banner-mini h3{
  color:inherit;
  font-size:38px;
}
.bundle-banner.bundle-banner-mini .btn{
  background:#fff;
  border-color:#fff;
  color:#212428;
  padding-left:20px;
  padding-right:20px;
}

.bundle-banners-slider .swiper-pagination{
  padding-left:20px;
  padding-right:20px;
  text-align:right;
}
.bundle-banners-slider .swiper-pagination-bullet-active{
  background:#000;
}
@media screen and (min-width:991px){
  .bundle-banner.bundle-banner-mini .btn{
    display:block;
    margin-left:auto;
    max-width:300px;
    padding-bottom:17px;
    padding-top:17px;
  }
}
@media screen and (max-width:1230px){
  .bundle-banner.bundle-banner-mini .mini-bundles__item:first-child:before{
    left:90px;
  }
  .bundle-banner.bundle-banner-mini .mini-bundles__item .bf-discont-badge{
    margin-left:-30px;
  }
}
@media screen and (max-width:991px){
  .bundle-banner__content .bf-discont-badge{
    left:30px;
    margin-left:0;
  }
  .bundle-banner__content .btn{
    max-width:none;
  }
  .bundle-banner.bundle-banner-mini .mini-bundles__item:first-child:before{
    font-size:12px;
    left:50px;
  }
  .bundle-banner.bundle-banner-mini .mini-bundles__item .bf-discont-badge{
    font-size:32px;
    height:80px;
    margin-top:-40px;
    width:80px;
  }
  .bundle-banner.bundle-banner-mini .mini-bundles__item .bf-discont-badge:after,.bundle-banner.bundle-banner-mini .mini-bundles__item .bf-discont-badge:before{
    font-size:12px;
  }
  .bundle-banner.bundle-banner-mini h3{
    font-size:28px;
  }
  .bundle-banners-slider .swiper-pagination{
    text-align:center;
  }
}
@media screen and (max-width:767px){
  .bundle-banner__image img{
    -o-object-position:50% 0;
       object-position:50% 0;
  }
  .bundle-banner__content{
    padding:43% 15px 15px;
  }
  .bundle-banner__content .row{
    gap:10px;
    padding-bottom:24px;
    padding-top:34px;
    text-align:center;
  }
  .bundle-banner.bundle-banner-mini .bundle-banner__content{
    padding-bottom:10px;
    padding-top:10px;
  }
  .bundle-banner.bundle-banner-mini .mini-bundles{
    gap:6px;
    margin-right:0;
    max-width:calc(100% - 30px);
  }
  .bundle-banner.bundle-banner-mini .mini-bundles__item:first-child:before{
    left:35px;
  }
  .bundle-banner.bundle-banner-mini .mini-bundles__item:not(:first-child):before{
    left:4px;
    top:4px;
  }
  .bundle-banner.bundle-banner-mini .row{
    gap:20px;
    padding-top:20px;
  }
}
