.countdown {
    display: flex;
    gap: 24px;
    font-size: 2em;
    text-align: center;
    justify-content: center;
}
  .countdown div {
    display: flex;
    flex-direction: column;
    color: var(--White, #FFF);
    text-align: center;
    text-shadow: 0 0 9.836px #0586FF;
    font-family: "TT Commons";
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 44.709px; 
  }
  .countdown div span {
    color: var(--White, #FFF);
    text-align: center;
    font-family: "TT Commons";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    text-shadow: none;
  }
  .extra_entries{
    color: var(--White, #FFF);
    text-align: center;
    text-shadow: 0 0 8px #0586FF;
    font-family: "TT Commons";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  @media(max-width:767px){
    .countdown{
        gap: 10px;
    }
    .countdown div {
        font-size: 36px;
    }
    .countdown div span{
        font-size: 14px;
    }
}