.page-banner-title{
    color:var(--pg-title, #212428)
}
@media(max-width:767px){
    .page-banner-title{
        color:var(--pg-title-mob, #fff)
    }
}



/* promotional banner css start */
.stronger_together_content .pink_headband{
    color: var(--Charcoal, #212428);
    font-family: "TT Commons";
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
}
.prevent_breast_cancer{
    color: var(--Charcoal-50, #8B8C8E);
    font-family: "TT Commons";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
}
.stronger_together_patch img {
    max-width: 230px;
    margin-top: -78px;
    position: relative;
}
.stronger_together{
    gap: 20px;
    margin: 0 auto;
}
@media(max-width:767px){
    .stronger_together_patch img {
       max-width: 132px;
       margin-top:-30px;  
    }
    .stronger_together_content .pink_headband{
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
    }
.prevent_breast_cancer {
    color: var(--Charcoal-50, #8B8C8E);
    font-family: "TT Commons";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}
    .stronger_together{
        margin-top: -50px;
        gap: 5px;
}
.stronger_together_content img{
    max-width: 133px;
}
}
/* promotional banner css end */


/* banner car giveaway  */
.qure_logo_title{
    margin:0 5px -8px;
}
@media(max-width:767px){
    .enter_now_btn{
        position:absolute;
        left: 0;
        right: 0;
        bottom: 15px;
    }
}
/* banner car giveaway end */

/* css for targeting page banner content with the body class for specific pages  */
body.page\.all-in-one-face-serum-creative-content-guide .ctm_cls_title_wrapper {
    max-width: 450px;
}
body.page\.neck-decolletage-led-pro-content-guide .ctm_cls_title_wrapper {
    max-width: 605px;
}
body.page\.dermal-mist-brief .ctm_cls_title_wrapper {
    max-width: 408px;
}
body.page\.led-mask-brief .ctm_cls_title_wrapper {
    max-width: 450px;
}
body.page\.micro-infusion-patches-content-guide .ctm_cls_title_wrapper {
    max-width: 605px;
}
body.page\.content-instructions .ctm_cls_title_wrapper {
    max-width: 450px;
}
body.page\.shower-creative-brief .ctm_cls_title_wrapper {
    max-width: 425px;
}
body.page\.faucet-creative-brief .ctm_cls_title_wrapper {
    max-width: 450px;
}
body.page\.n-d-quickstart-guide .ctm_cls_title_wrapper {
    max-width: 550px;
}
body.page\.shower-filter-online-guide .ctm_cls_title_wrapper {
    max-width: 450px;
}
body.page\.faucet-online-guide .ctm_cls_title_wrapper {
    max-width: 540px;
}
body.page\.microinfusion-safety-guide .ctm_cls_title_wrapper {
    max-width: 450px;
}

@media(min-width:768px){
    body.page\.microinfusion-safety-guide .ctm_cls_title_wrapper {
        padding-right: 130px;
    }
}
@media(max-width:767px){
    body.page\.microinfusion-safety-guide .ctm_cls_title_wrapper {
        padding-bottom: 50px;
    }
}

/* css for targeting page banner content with the body class for specific pages */