.black_friday_wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
}
.bf-text-black{
    color: #212428 !important;
}
.qure_bf_price{
    display: flex;
    justify-content: end;
    font-weight: 600;
}
.qure__subscription-btn.collapsed{
    align-items: center;
}
.qure__subscription-item .qure__subscription-btn + .qure__subscription-collapse {
    margin: 18px;
    /* margin-top: -40px !important; */
}
.qure__subscription-item .qure__subscription-btn {
    padding: 14px 18px !important;
}
body.product\.shower-filter-replacement .one_time_purchase .qure__subscription-btn{
    align-items: center;
}
body.product\.shower-filter-replacement .one_time_purchase .qure__subscription-collapse{
    display: none;
}
