@use "../../../../../mixins/index" as *;

.page-banner {
    position: relative;

    &::after {
        position: absolute;
        right: 24px;
        bottom: 4px;
        z-index: 2;
        color: #707172; 
        font-size: 12px;
        content: attr(data-text-after);

        @include sm {
            right: 16px;
        }
    }

    // .page-banner__image
    &__image {
        width: 100%;

        img {
            display: block;
            width: 100%;
            height: auto;
            min-height: 160px;
            object-fit: cover;

            @include sm {
                min-height: 220px;
                max-height: 300px;
            }
        }
    }

    // .page-banner__container
    &__container {
        position: absolute;
        inset: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 25px;
        padding-bottom: 25px;

        @include sm {
            align-items: flex-start;
        }
    }

    // .page-banner__content
    &__content {
        max-width: 50%;
        margin-left: auto;
        text-align: center;

        @include sm {
            max-width: none;
            margin-left: 0;
        }

        img:first-child {
            display: inline-block;
            width: 100%;
            max-width: 185px;
            height: auto;
            margin-bottom: 15px;

            @include sm {
                display: none;
            }
        }
    }

    .bf-discont-badge {
        @include small-bf-badge;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        margin-top: -60px;
        margin-left: -102px;
        transform: scale(1.25);

        @include md {
            margin-left: -60px;
        }

        @include sm {
            right: 32px;
            left: auto;
            margin-top: -15px;
            margin-left: 0;
            transform: scale(0.875);
        }
    }
}