.row-cols-7>* {
    flex: 0 0 auto;
    width: calc (100% / 7)
}

.row-cols-8>* {
    flex: 0 0 auto;
    width: calc (100% / 8)
}

@media (min-width: 992px) {
    .justify-content-between-lg {
        justify-content: space-between
    }

    .width-lg-50 {
        width: 5rem !important
    }

    .height-lg-50 {
        height: 5rem !important
    }
}

.aspect-auto {
    aspect-ratio: auto
}

.aspect-square {
    aspect-ratio: 1 / 1
}

.aspect-video {
    aspect-ratio: 16 / 9
}

.appearance-none {
    -webkit-appearance: none;
    appearance: none
}

.block {
    display: block !important
}

.inline-block {
    display: inline-block
}

.inline {
    display: inline
}

.flex {
    display: flex
}

.flex-1 {
    flex: 1 1 0%
}

.content-center {
    justify-content: center;
    align-items: center
}

.align-center {
    align-items: center
}

.space-between {
    justify-content: space-between
}

.flex-end {
    justify-content: flex-end
}

.row-reverse {
    flex-direction: row-reverse
}

.inline-flex {
    display: inline-flex
}

.table {
    display: table
}

.inline-table {
    display: inline-table
}

.table-caption {
    display: table-caption
}

.overflow-auto {
    overflow: auto
}

.overflow-hidden {
    overflow: hidden
}

.overflow-clip {
    overflow: clip
}

.overflow-visible {
    overflow: visible
}

.overflow-scroll {
    overflow: scroll
}

.overflow-x-auto {
    overflow-x: auto
}

.overflow-y-auto {
    overflow-y: auto
}

.overflow-y-hidden {
    overflow-y: hidden
}

.overflow-x-hidden {
    overflow-x: hidden
}

.bls-minicart-body .bls-items::-webkit-scrollbar,
.scroll-x::-webkit-scrollbar {
    height: 6px
}

.bls__canvas #search-results-list::-webkit-scrollbar,
.custom-scrollbar::-webkit-scrollbar,
.bls-minicart-body .bls-items::-webkit-scrollbar,
.scroll-y::-webkit-scrollbar {
    width: 4px
}

.bls-recommendations-beside .bls-cart-upsell::-webkit-scrollbar {
    width: 2px
}

.bls-recommendations-beside .bls-cart-upsell::-webkit-scrollbar-track,
.bls__canvas #search-results-list::-webkit-scrollbar-track,
.custom-scrollbar::-webkit-scrollbar-track,
.bls-minicart-body .bls-items::-webkit-scrollbar-track,
.bls__compare-table::-webkit-scrollbar-track,
.filter-item .filter-content>*::-webkit-scrollbar-track,
.collection-sidebar ::-webkit-scrollbar-track,
.scroll-bar-custom::-webkit-scrollbar-track,
.dlg-box::-webkit-scrollbar-track {
    background: var(--border-color-base)
}

.bls-recommendations-beside .bls-cart-upsell::-webkit-scrollbar-thumb,
.bls__canvas #search-results-list::-webkit-scrollbar-thumb,
.custom-scrollbar::-webkit-scrollbar-thumb,
.bls-minicart-body .bls-items::-webkit-scrollbar-thumb,
.bls__compare-table::-webkit-scrollbar-thumb,
.filter-item .filter-content>*::-webkit-scrollbar-thumb,
.collection-sidebar::-webkit-scrollbar-thumb,
.scroll-bar-custom::-webkit-scrollbar-thumb,
.dlg-box::-webkit-scrollbar-thumb {
    background: #c8c8c8
}

.bls-recommendations-beside .bls-cart-upsell::-webkit-scrollbar-thumb:hover,
.bls__canvas #search-results-list::-webkit-scrollbar-thumb:hover,
.custom-scrollbar::-webkit-scrollbar-thumb:hover,
.bls-minicart-body .bls-items::-webkit-scrollbar-thumb:hover,
.bls__compare-table::-webkit-scrollbar-thumb:hover,
.filter-item .filter-content>*::-webkit-scrollbar-thumb:hover,
.collection-sidebar::-webkit-scrollbar-thumb:hover,
.scroll-bar-custom::-webkit-scrollbar-thumb:hover,
.dlg-box::-webkit-scrollbar-thumb:hover {
    background: #555;
    width: 6px
}

.visually-hidden {
    clip: rect(0 0 0 0);
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px
}

.static {
    position: static
}

.fixed {
    position: fixed
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}

.sticky {
    position: sticky
}

.z-1 {
    z-index: 1
}

.z-4 {
    z-index: 4
}

.z-5 {
    z-index: 5
}

.z-10 {
    z-index: 10
}

.inset-0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.inset-15 {
    top: 1.5rem;
    right: 1.5rem;
    bottom: 1.5rem;
    left: 1.5rem
}

.inset-x-0 {
    left: 0;
    right: 0
}

.inset-y-0 {
    top: 0;
    bottom: 0
}

.top-0 {
    top: 0
}

.top-10 {
    top: 1rem
}

.top-15 {
    top: 1.5rem
}

.right-0 {
    right: 0
}

.right-10 {
    right: 1rem
}

.right-15 {
    right: 1.5rem
}

.top-30 {
    top: 3rem
}

.left-30 {
    left: 3rem
}

.right-30 {
    right: 3rem
}

.bottom-15 {
    bottom: 1.5rem
}

.bottom-30 {
    bottom: 3rem
}

.bottom-0 {
    bottom: 0
}

.left-0 {
    left: 0
}

.left-100 {
    left: 100%
}

.right-100 {
    right: 100%
}

.top-100 {
    top: 100%
}

.left-15 {
    left: 1.5rem
}

.position-center-y {
    top: 50%;
    transform: translateY(-50%)
}

.position-center-x {
    left: 50%;
    transform: translate(-50px)
}

.text-left {
    text-align: left
}

.text-center {
    text-align: center
}

.text-right {
    text-align: right
}

.unvisible {
    display: none !important
}

@media (min-width: 1025px) {
    .d-none-desktop {
        display: none !important
    }
}

@media (max-width: 1024px) {
    .d-none-mb {
        display: none !important
    }

    .mb-col-3 {
        flex: 0 0 auto !important;
        width: 25%
    }

    .mb-col-6 {
        flex: 0 0 auto !important;
        width: 50%;
        padding: 0 10px
    }
}

@media (max-width: 767px) {
    .text-center-mb {
        text-align: center
    }

    .medium-hide {
        display: none !important
    }
}

.list-unstyled {
    padding: 0;
    margin: 0;
    list-style-type: none
}

.list-none {
    list-style-type: none
}

.list-disc {
    list-style-type: disc
}

.list-decimal {
    list-style-type: decimal
}

.list-inside {
    list-style-position: inside
}

.list-outside {
    list-style-position: outside
}

.lh-1 {
    line-height: 1
}

.lh-15 {
    line-height: 1.5
}

.p-0-important {
    padding: 0 !important
}

.m-0-important {
    margin: 0 !important
}

.p-0 {
    padding: 0
}

.p-10 {
    padding: 1rem
}

.p-15 {
    padding: 1.5rem
}

.p-20 {
    padding: 2rem
}

.p-30 {
    padding: 3rem
}

.p-40 {
    padding: 4rem
}

.px-0 {
    padding-left: 0;
    padding-right: 0
}

.px-2 {
    padding-left: 2px;
    padding-right: 2px
}

.px-3 {
    padding-left: 3px;
    padding-right: 3px
}

.px-4 {
    padding-left: 4px;
    padding-right: 4px
}

.px-5 {
    padding-left: .5rem;
    padding-right: .5rem
}

.px-6 {
    padding-left: .6rem;
    padding-right: .6rem
}

.px-8 {
    padding-left: .8rem;
    padding-right: .8rem
}

.px-10 {
    padding-left: 1rem;
    padding-right: 1rem
}

.px-15 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.px-20 {
    padding-left: 2rem;
    padding-right: 2rem
}

.px-25 {
    padding-left: 2.5rem;
    padding-right: 2.5rem
}

.px-30 {
    padding-left: 3rem;
    padding-right: 3rem
}

.py-0 {
    padding-top: 0;
    padding-bottom: 0
}

.py-5 {
    padding-top: .5rem;
    padding-bottom: .5rem
}

.py-7 {
    padding-top: .7rem;
    padding-bottom: .7rem
}

.py-8 {
    padding-top: .8rem;
    padding-bottom: .8rem
}

.py-9 {
    padding-top: .9rem;
    padding-bottom: .9rem
}

.py-10 {
    padding-top: 1rem;
    padding-bottom: 1rem
}

.py-12 {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem
}

.py-15 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem
}

.py-20 {
    padding-top: 2rem;
    padding-bottom: 2rem
}

.py-30 {
    padding-top: 3rem;
    padding-bottom: 3rem
}

.py-25 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem
}

.pt-0 {
    padding-top: 0
}

.pt-2 {
    padding-top: 2px
}

.pt-5 {
    padding-top: .5rem
}

.pt-10 {
    padding-top: 1rem
}

.pt-15 {
    padding-top: 1.5rem
}

.pt-20 {
    padding-top: 2rem
}

.pt-25 {
    padding-top: 2.5rem
}

.pt-30 {
    padding-top: 3rem
}

.pt-35 {
    padding-top: 3.5rem
}

.pt-60 {
    padding-top: 6rem
}

.pr-0 {
    padding-right: 0
}

.pr-4 {
    padding-right: 4px
}

.pr-5 {
    padding-right: 5px
}

.pr-15 {
    padding-right: 1.5rem
}

.pr-20 {
    padding-right: 2rem
}

.pr-30 {
    padding-right: 3rem
}

.pb-0 {
    padding-bottom: 0
}

.pb-5 {
    padding-bottom: .5rem
}

.pb-10 {
    padding-bottom: 1rem
}

.pb-12 {
    padding-bottom: 1.2rem
}

.pb-15 {
    padding-bottom: 1.5rem
}

.pb-20 {
    padding-bottom: 2rem
}

.pb-25 {
    padding-bottom: 2.5rem
}

.pb-30 {
    padding-bottom: 3rem
}

.pb-80 {
    padding-bottom: 10%
}

.pt-80 {
    padding-top: 10%
}

.pl-0 {
    padding-left: 0
}

.pl-10 {
    padding-left: 1rem
}

.pl-15 {
    padding-left: 1.5rem
}

.pl-80 {
    padding-left: 10%
}

.pr-80 {
    padding-right: 10%
}

.m-0 {
    margin: 0
}

.mx-0 {
    margin-left: 0;
    margin-right: 0
}

.mx-5 {
    margin-left: 5px;
    margin-right: 5px
}

.mx-10 {
    margin-left: 1rem;
    margin-right: 1rem
}

.mx-15 {
    margin-left: 1.5rem;
    margin-right: 1.5rem
}

.my-0 {
    margin-top: 0;
    margin-bottom: 0
}

.my-10 {
    margin-top: 1rem;
    margin-bottom: 1rem
}

.my-15 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem
}

.my-20 {
    margin-top: 2rem;
    margin-bottom: 2rem
}

.my-25 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem
}

.my-30 {
    margin-top: clamp(2rem, 3vw, 3rem);
    margin-bottom: clamp(2rem, 3vw, 3rem)
}

.mt-0 {
    margin-top: 0
}

.mt-3 {
    margin-top: 3px
}

.mt-4 {
    margin-top: 4px
}

.mt-5 {
    margin-top: 5px
}

.mt-7 {
    margin-top: 7px
}

.mt-9 {
    margin-top: 9px
}

.mt-10 {
    margin-top: 10px
}

.mt-15 {
    margin-top: 15px
}

.mt-20 {
    margin-top: 2rem
}

.mt-25 {
    margin-top: 2.5rem
}

.mt-30 {
    margin-top: clamp(2.5rem, 4vw, 3rem)
}

.mt-45 {
    margin-top: clamp(3rem, 4vw, 4.5rem)
}

.mt-50 {
    margin-top: clamp(3.5rem, 4.6vw, 5rem)
}

.mt-60 {
    margin-top: clamp(3.5rem, 4.6vw, 6rem)
}

.ml-1 {
    margin-left: 1px
}

.ml-5 {
    margin-left: .5rem
}

.ml-10 {
    margin-left: 1rem
}

.mr-0 {
    margin-right: 0
}

.mr-5 {
    margin-right: .5rem
}

.mr-10 {
    margin-right: 1rem
}

.mr-15 {
    margin-right: 1.5rem
}

.mr-20 {
    margin-right: 2rem
}

.mr-30 {
    margin-right: 3rem
}

.mb-0 {
    margin-bottom: 0
}

.mb-0-important {
    margin-bottom: 0 !important
}

.mb-3,
.mb-5 {
    margin-bottom: .5rem
}

.mb-7 {
    margin-bottom: .7rem
}

.mb-8 {
    margin-bottom: .8rem
}

.mb-9 {
    margin-bottom: .9rem
}

.mb-10 {
    margin-bottom: 1rem
}

.mb-15 {
    margin-bottom: 1.5rem
}

.mb-20 {
    margin-bottom: 2rem
}

.mb-24 {
    margin-bottom: 2.4rem
}

.mb-25 {
    margin-bottom: 2.5rem
}

.mb-30 {
    margin-bottom: clamp(2rem, 2.8vw, 3rem)
}

.mb-35 {
    margin-bottom: clamp(3rem, 3vw, 3.5rem)
}

.mb-30-important {
    margin-bottom: clamp(2rem, 3vw, 3rem) !important
}

.mb-45 {
    margin-bottom: clamp(2.5rem, 4vw, 4.5rem)
}

.mb-50 {
    margin-bottom: clamp(3rem, 4.6vw, 5rem)
}

.mb-40 {
    margin-bottom: clamp(2.5rem, 4vw, 4.5rem)
}

.ml-0 {
    margin-left: 0
}

.ml-15 {
    margin-left: 1.5rem
}

.ml-20 {
    margin-left: 2rem
}

.m-auto {
    margin: auto
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.mt-auto {
    margin-top: auto
}

.ms-auto {
    margin-left: auto
}

.gap-5 {
    gap: .5rem
}

.gap-10 {
    gap: 1rem
}

.gap-15 {
    gap: 1.5rem
}

.column-gap-20 {
    column-gap: 20px
}

.last-0:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
    border: 0
}

.m-width-20 {
    min-width: 2rem
}

.m-width-50 {
    min-width: 5rem
}

.m-width-48 {
    min-width: 4.8rem
}

.width-20 {
    width: 2rem
}

.width-30 {
    width: 3rem
}

.width-35 {
    width: 3.5rem
}

.width-45 {
    width: 4.5rem
}

.width-50 {
    width: 5rem
}

.width-60 {
    width: 6rem
}

.width-75 {
    width: 7.5rem
}

.width-80 {
    width: 8rem
}

.width-100 {
    width: 10rem
}

.w-full {
    width: 100%
}

.whitespace-nowrap {
    white-space: nowrap
}

.mw-50 {
    max-width: 50px
}

.mw-100 {
    max-width: 100px
}

.min-w-260 {
    min-width: 26rem
}

.min-height-50 {
    min-height: 5rem
}

.min-height-48 {
    min-height: 4.8rem
}

.height-45 {
    height: 4.5rem
}

.height-50 {
    height: 5rem
}

.height-130 {
    height: 130px
}

.h-470 {
    height: 470px
}

.h-full {
    height: 100%
}

.uppercase {
    text-transform: uppercase
}

.capitalize {
    text-transform: capitalize
}

.underline {
    text-decoration: underline
}

.fw-300 {
    font-weight: 300
}

.fw-400 {
    font-weight: 400
}

.fw-500 {
    font-weight: 500
}

.fw-600 {
    font-weight: 600
}

.fw-700 {
    font-weight: 700
}

.fw-800 {
    font-weight: 800
}

.fw-900 {
    font-weight: 900
}

.bg-unset {
    background-color: unset !important
}

.bg-white {
    background-color: var(--color-white)
}

.bg-grey {
    background-color: var(--light-grey-color)
}

.bg-primary {
    background-color: var(--primary-color)
}

.bg-dark {
    background-color: #111
}

.bg-fixed {
    background-attachment: fixed
}

.bg-local {
    background-attachment: local
}

.bg-scroll {
    background-attachment: scroll
}

.bg-auto {
    background-size: auto
}

.bg-cover {
    background-size: cover
}

.bg-contain {
    background-size: contain
}

.bg-left-top {
    background-position: left top
}

.bg-left-center {
    background-position: left center
}

.bg-left-bottom {
    background-position: left bottom
}

.bg-center {
    background-position: center
}

.bg-right-top {
    background-position: right top
}

.bg-right-center {
    background-position: right center
}

.bg-right-bottom {
    background-position: right bottom
}

.bg-repeat {
    background-repeat: repeat
}

.bg-no-repeat {
    background-repeat: no-repeat
}

.bg-repeat-x {
    background-repeat: repeat-x
}

.bg-repeat-y {
    background-repeat: repeat-y
}

.box-shadow-none {
    box-shadow: none !important
}

.box-shadow {
    box-shadow: var(--bls-box-shadow);
    -webkit-shadow: var(--bls-box-shadow)
}

.box-shadow-top {
    box-shadow: 0 5px 30px #00000014;
    -webkit-box-shadow: 0px 5px 30px rgba(0, 0, 0, .08)
}

.border-none {
    border: 0 !important
}

.border {
    border: 1px solid var(--border-color-base)
}

.border-top-0 {
    border-top: 0
}

.border-top {
    border-top: 1px solid var(--border-color-base)
}

.border-bottom {
    border-bottom: 1px solid var(--border-color-base)
}

.border-left {
    border-left: 1px solid var(--border-color-base)
}

.border-right {
    border-right: 1px solid var(--border-color-base)
}

.round-right-0 {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important
}

.round-left-0 {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.btn-radius {
    border-radius: var(--btn-border-radius)
}

.rounded-0 {
    border-radius: 0 !important
}

.rounded {
    border-radius: 50%
}

.rounded-2 {
    border-radius: 2px
}

.rounded-3 {
    border-radius: 3px
}

.rounded-5 {
    border-radius: 5px
}

.rounded-10 {
    border-radius: 10px
}

.rounded-30 {
    border-radius: 30px
}

.fs-small {
    font-size: calc(var(--base-font-size) - 2px)
}

.fs-0 {
    font-size: 0
}

.fs-9 {
    font-size: .9rem
}

.fs-10 {
    font-size: 1rem
}

.fs-11 {
    font-size: 1.1rem
}

.fs-12 {
    font-size: 1.2rem
}

.fs-13 {
    font-size: 1.3rem
}

.fs-14 {
    font-size: 1.4rem
}

.fs-16 {
    font-size: 1.6rem !important
}

.fs-18 {
    font-size: 1.8rem
}

.fs-20 {
    font-size: 2rem
}

.fs-22 {
    font-size: 2.2rem
}

.fs-24 {
    font-size: 2.4rem
}

.fs-30 {
    font-size: clamp(2.2rem, 3vw, 3rem)
}

.fs-32 {
    font-size: clamp(2.4rem, 3.2vw, 3.2rem)
}

.fs-40 {
    font-size: clamp(3rem, 4.4vw, 4rem)
}

.fs-48 {
    font-size: clamp(3.2rem, 4.5vw, 4.8rem)
}

.fs-60 {
    font-size: clamp(3rem, 7.7vw, 6rem)
}

.fs-80 {
    font-size: clamp(4rem, 7.7vw, 8rem)
}

.text-color {
    color: rgb(var(--base-color))
}

.text-white {
    color: #fff
}

.text-white .btn-link {
    border-color: #fff
}

.text-white *:not(.btn-secondary) {
    color: #fff
}

.primary-color {
    color: var(--primary-color)
}

.grey-color {
    color: var(--grey-color)
}

.heading-color {
    color: var(--heading-color)
}

.heading-weight {
    font-weight: var(--heading-font-weight)
}

.pointer {
    cursor: pointer
}

.pointer-events-none {
    pointer-events: none
}

.opacity-0 {
    opacity: 0
}

.hover\:visible {
    opacity: 1;
    visibility: visible
}

.gradient {
    background: rgb(var(--base-body-bg-color));
    background: var(--gradient-background);
    background-attachment: fixed
}

@media (min-width: 576px) {
    .static-xs {
        position: static
    }

    .absolute-xs {
        position: absolute
    }

    .flex-xs-1 {
        flex: 1 0 0%
    }

    .border-xs-0 {
        border-top: 0
    }

    .pt-xs-0 {
        padding-top: 0
    }
}

@media (min-width: 768px) {
    .mb-md-0 {
        margin-bottom: 0
    }

    .row-cols-lg-7>* {
        flex: 0 0 auto;
        width: calc(100% / 7)
    }

    .row-cols-lg-8>* {
        flex: 0 0 auto;
        width: 12.5%
    }

    .px-md-30 {
        padding-left: 3rem;
        padding-right: 3rem
    }

    .pb-md-20 {
        padding-bottom: 2rem
    }

    .pb-md-25 {
        padding-bottom: 2.5rem
    }

    .mr-md-0 {
        margin-right: 0
    }

    .mb-md-15 {
        margin-bottom: 1.5rem
    }

    .mt-md-20 {
        margin-bottom: 2rem
    }

    .mb-md-30 {
        margin-bottom: 3rem
    }

    .text-md-left {
        text-align: left
    }

    .text-md-center {
        text-align: center
    }

    .text-md-right {
        text-align: right
    }
}

@media (min-width: 992px) {
    .py-lg-20 {
        padding-top: 2rem;
        padding-bottom: 2rem
    }

    .py-lg-30 {
        padding-top: 3rem;
        padding-bottom: 3rem
    }

    .mt-lg-0 {
        margin-top: 0
    }

    .mt-lg-30 {
        margin-top: 3rem
    }

    .mr-lg-20 {
        margin-right: 2rem
    }

    .mb-lg-0 {
        margin-bottom: 0
    }

    .static-lg {
        position: static
    }

    .absolute-lg {
        position: absolute
    }
}

@media (min-width: 1200px) {
    .static-xl {
        position: static
    }

    .absolute-xl {
        position: absolute
    }

    .mb-xl-40 {
        margin-bottom: 4rem
    }

    .pb-xl-40 {
        padding-bottom: 4rem
    }

    .px-xl-30 {
        padding-left: 3rem;
        padding-right: 3rem
    }

    .px-xl-40 {
        padding-left: 4rem;
        padding-right: 4rem
    }

    .bottom-lg-80 {
        bottom: 8rem
    }
}

@media (max-width: 1199px) {
    .flex-wrap-table {
        flex-wrap: wrap
    }
}

@media (max-width: 991px) {
    .flex-wrap-mb {
        flex-wrap: wrap
    }
}

.transition {
    transition: var(--bls-transition);
    -webkit-transition: var(--bls-transition)
}

.hover-zoom {
    position: relative;
    overflow: hidden;
    will-change: transform
}

@media (min-width: 992px) {
    .hover-zoom img {
        transition: var(--bls-transition)
    }

    .hover-zoom:hover img {
        transform: var(--bls-transform)
    }
}

.limited-line {
    -webkit-line-clamp: var(--line-clamp, unset);
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden
}

.bls_tooltip {
    position: relative;
    cursor: pointer
}

.bls_tooltip-content {
    position: absolute;
    bottom: var(--tooltip-y, 100%);
    left: var(--tooltip-left, 50%);
    right: var(--tooltip-right, unset);
    transform: var(--tooltip-transform, translateY(-10px) translateX(-50%));
    -webkit-transform: var(--tooltip-transform, translateY(-10px) translateX(-50%));
    background: #111;
    color: #fff;
    line-height: 1;
    border-radius: 3px;
    max-width: 360px;
    padding: 7px 15px;
    z-index: 2;
    text-align: center;
    font-size: 1.3rem;
    text-transform: none;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: var(--bls-transition);
    pointer-events: none;
    will-change: transform
}

.bls_tooltip-content:before {
    border: solid transparent;
    border-width: 5px;
    content: "";
    height: 0;
    position: absolute;
    width: 0;
    top: var(--tooltip-y, 100%);
    left: var(--tooltip-left, 50%);
    margin-left: 0;
    -webkit-transform: var(--tooltip-transform, translateX(-50%) translateZ(0));
    transform: var(--tooltip-transform, translateX(-50%) translateZ(0));
    transform-origin: 0;
    border-top-color: #111
}

.bls_tooltip:hover .bls_tooltip-content {
    opacity: 1;
    visibility: visible;
    transform: var(--tooltip-transform, translateY(-10px) translateX(-50%));
    -webkit-transform: var(--tooltip-transform, translateY(-10px) translateX(-50%))
}

.bls_tooltip-content-bottom {
    position: absolute;
    top: var(--tooltip-y, 100%);
    left: var(--tooltip-left, 50%);
    right: var(--tooltip-right, unset);
    transform: var(--tooltip-transform, translateY(0) translateX(-50%));
    -webkit-transform: var(--tooltip-transform, translateY(0) translateX(-50%));
    background: #111;
    color: #fff;
    line-height: 1;
    border-radius: 3px;
    max-width: 360px;
    padding: 7px 10px;
    z-index: 2;
    text-align: center;
    font-size: 1.3rem;
    text-transform: none;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: var(--bls-transition);
    pointer-events: none;
    will-change: transform
}

.bls_tooltip-content-bottom:before {
    border: solid transparent;
    border-width: 5px;
    content: "";
    height: 0;
    position: absolute;
    width: 0;
    bottom: var(--tooltip-y, 100%);
    left: var(--tooltip-left, 50%);
    margin-left: 0;
    -webkit-transform: var(--tooltip-transform, translateX(-50%));
    transform: var(--tooltip-transform, translateX(-50%));
    transform-origin: 0;
    border-bottom-color: #111
}

.bls_tooltip:hover .bls_tooltip-content-bottom {
    opacity: 1;
    visibility: visible;
    transform: var(--tooltip-transform, translateY(8px) translateX(-50%));
    -webkit-transform: var(--tooltip-transform, translateY(8px) translateX(-50%))
}

@media (max-width: 1023px) {

    .bls_tooltip-content-bottom,
    .bls_tooltip-content {
        display: none
    }
}

.active-show {
    opacity: 0;
    visibility: hidden;
    display: none;
    margin: auto
}

.active .active-show {
    opacity: 1;
    visibility: visible;
    display: block
}

.active .active-hide {
    display: none
}

@-moz-keyframes ticker {
    0% {
        transform: translate(0)
    }

    to {
        transform: translate(-100%)
    }
}

@-webkit-keyframes ticker {
    0% {
        transform: translate(0)
    }

    to {
        transform: translate(-100%)
    }
}

@-o-keyframes ticker {
    0% {
        transform: translate(0)
    }

    to {
        transform: translate(-100%)
    }
}

@keyframes ticker {
    0% {
        transform: translate(0)
    }

    to {
        transform: translate(-100%)
    }
}

/*# sourceMappingURL=/cdn/shop/t/16/assets/utilities.css.map?v=122070330158485047681728469775 */