.qure__afterBefore-accordion {
    padding: 50px 32px;
    border-radius: 10px;
    border: 1px solid var(--Charcoal-10, #DFE0E0);
}

.card.af-card {
    --bs-card-inner-border-radius: 10px;
    --bs-card-border-radius: 10px;
    --bs-border-radius: 10px;
    --bs-card-spacer-y: 8px;
    --bs-card-spacer-x: 16px;
    border: none;
}

.card-body.af-card-body {
    padding: var(--bs-card-spacer-y, 8px) var(--bs-card-spacer-x, 16px);
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    background-color: var(--bg-light);
}

.card-body.af-card-body {
    border-bottom-left-radius: var(--bs-border-radius);
    border-bottom-right-radius: var(--bs-border-radius);
}

.card-body.af-card-body .card-title {
    font-size: 20px;
    font-weight: 500;
}

.cause__list span {
    background: #F6F6F7;
    padding: 6px 10px;
    font-size: 16px;
    border-radius: 30px;
    display: inline-block;
    margin-bottom: 8px;
}

.cause__list span+span {
    margin-left: 8px;
}

.p-ing-card {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 16px;
    align-items: center;
}

.p-ing-card img {
    max-width: 100%;
}
.af-card-accordion .qure__accordion-header[aria-expanded="true"] {
    font-weight: 600;
}
.af-trial-content {
    display: grid;
    grid-template-columns: 60px 1fr;
    gap: 12px;
    align-items: center;
    margin-top: 15px;
    font-size: 16px;
}
.af-trial-content .text-progress-circle svg {
    height: 60px;
    width: 60px;
}

.af-trial-content .text-progress-circle span {
    font-size: 16px;
}
.af-desc a {
    text-decoration: underline;
    text-underline-offset: 2px;
    color: inherit;
}

.af-modal-body p:last-child {
    margin-bottom: 0;
}




@media(max-width:991px) {
    .qure__afterBefore-accordion {
        padding: 0;
        border-radius: 10px;
        border: 1px solid var(--Charcoal-10, #DFE0E0);
    }
    .af-trial-content {
        display: grid;
        grid-template-columns: 50px 1fr;
        gap: 12px;
        align-items: start;
        margin-top: 15px;
    }
    .af-trial-content .text-progress-circle svg {
        height: 50px;
        width: 50px;
    }
    .card-body.af-card-body {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .af-card-wrapper{
        padding: 0 16px 24px;
    }
}