.patch-versus-col {
    display: flex;
    align-items: center;
    height: calc(var(--child-height) + 140px);
}
.patch-versus {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    background: var(--qure-charcoal);
    color: var(--white-color);
    font-weight: 600;
    font-size: 30px;
    border-radius: 50px;
}
/* .patch-card-content .patch-list > li {
    padding-left: 30px;
    position: relative;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgb(33 36 40 / 10%);
} */
 .patch-card-content .patch-list > li {
    padding-left: 30px;
    position: relative;
    /* margin-top: 20px; */
    padding: 20px 0 20px 30px;
    border-top: 1px solid rgb(33 36 40 / 10%);
}
.patch-card-content .patch-list > li:first-child {
    border: none;
}
/* .patch-card-content .patch-list > li + li {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgb(33 36 40 / 10%);
} */
.patch-card-content .patch-target.patch-list > li:before {
    content: "\f058";
    font-family: Font Awesome\ 6 Pro;
    font-weight: 300;
    position: absolute;
    left: 0;
    color: #91baec;
    font-size: 20px;
    top: 24px;
}
.patch-card-content .patch-alternate.patch-list > li:before {
    content: "\f057";
    font-family: Font Awesome\ 6 Pro;
    font-weight: 900;
    font-size: 20px;
    position: absolute;
    left: 0;
    color: rgb(33 36 40 / 50%);
}
.patch-list-row .patch-list {
    padding-bottom: 16px;
    border-bottom: 1px solid #DFE0E0;
    padding-left: 30px;
    position: relative;
    height: 100%;
}
.patch-list-row:last-child .patch-list {
    padding-bottom: 0;
    border: none;
}
.patch-list-row .patch-list:before {
    display: block;
    font-family: Font Awesome\ 6 Pro;
    position: absolute;
    left: 0;
}
.patch-list-row .patch-list.patch-check:before {
    content: "\f058";
    font-weight: 500;
    color: #91baec;
}
.patch-list-row .patch-list.patch-cross:before {
    content: "\f057";
    font-weight: 900;
    color: #8b8c8e;
}
.patch-list-row .col{
    max-width: 420px;
}
.patch-list-row .patch-list.patch-check-gray:before {
    content: "\f058";
    font-weight: 600;
    color: #8b8c8e;
}


@media(max-width:767px){
    .patch-versus-col {
        height: var(--child-height);
        align-items: center;
    }
    .patch-versus {
        height: 50px;
        width: 50px;
        font-weight: 600;
        font-size: 18px;
        margin: 0 -10px;
        position: relative;
        z-index: 1;
    }
}