
@media(max-width:991px){
    .bundle__banner-img  img {
        height: var(--child-height);
        object-fit: cover;
        object-position: left;
    }
}

@media(max-width:767px){
    .bundle__banner-img  img {
        object-position: bottom;
    }
}