@media(max-width:767px){
    .red_light_wrapper img {
       max-width: 72px;
       margin: 0;
    }
    .red_light_wrapper {
        border-bottom: 1px solid #DFE0E0;
        padding: 20px 0;
    }
}
